@import '~react-image-gallery/styles/css/image-gallery.css';

.movie {
  margin-top: -20px;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: auto;
  color: white;
  min-height: 100vmax;
}

.heading {
  text-align: center;
}

.heading > h1 {
  color: rgb(255, 174, 0);
}

.heading > h3 {
  color: rgb(255, 38, 0);
}

.content {
  padding: 5vmax;
  margin: 0vw 15vw;
  min-height: 100vmax;
  background-color: rgba(0, 0, 0, 0.863);
  text-align: left;
  line-height: 30px;
}
