@import '~react-image-gallery/styles/css/image-gallery.css';

.movie {
  margin-top: -20px;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: auto;
  color: white;
  min-height: 100vmax;
}

.heading {
  text-align: center;
}

.heading > h1 {
  color: #74d7f0;
}

.heading > h3 {
  color: rgb(255, 174, 0);
}

h4 {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.content {
  padding: 5vmax;
  margin: 0vw 15vw;
  min-height: 100vmax;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: left;
  line-height: 30px;
}

@media only screen and (max-width: 600px) {
  .movie {
    background-size: 300% 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: auto;
    color: white;
    min-height: 100vmax;
  }
  .content {
    min-width: 100vw;
    min-height: 100vw;
    background-color: rgba(0, 0, 0, 0.95);
    text-align: left;
    line-height: 30px;
    padding: 20px;
    margin: 0px;
  }
}
